* {
  box-sizing:border-box;
  /*margin: 0px;
  padding: 5px;*/
}

body {
  font-family: Calibri, sans-serif;
  }

/*h1 {
    color: rgb(79, 129, 189);
  }

h2 {
    color: white;
    background-color: #4f81bd;
    text-align: left;
    padding: 2px;
  }
*/

.personal {
  color: #4f81bd;
}

.personal a {
  color: #4f81bd;
}

.personal a:hover {
  color: #0645AD;
}

.personal h1,h5 {
  display: inline;
}

.personal p {
  margin: 0.1rem 0rem 0.3rem 0.2rem;
}

.card a:link {text-decoration:none;}
.card a:visited {text-decoration:none;}
.card a:hover {text-decoration:none;
background-color:white;
color: #4f81bd; }
.card a:active {text-decoration:none;
  background-color:white;
  color: #4f81bd;}

#skills ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
       display: none; 
   }
}

/* to do:
<body link="black" vlink="lightgrey">
door collapse heb ik div class verwijderd, maar kan ik ze als een id gebruiken
Nog wel volledig bar klikbaar maken
*/

/* handig om te weten:
chaning selectors: bvb h1.special: alle h1 tags EN special class hebben
nested elements: bvb .main-list li: selecteer alle li-elementen die zich in een element met class main-list bevinden
multiple selectors: bvb h1, .menu: pass de stijl toe op vermelde selectoren
*/